.selected{
   color: #fff;
   margin-right: 5px;
   cursor: pointer;
}

.page{
   margin-right: 5px;
   font-size: 18px;
   cursor: pointer;
}

.pages_wrapper{
   display: flex;
   flex-wrap: wrap;
}

