.wrapper{
   display: flex;
   margin-bottom: 15px;
   margin-top: 15px;
   text-align: center;
}
.avatar{
   width: 60px;
   height: 60px;
   border-radius: 50%;
   display: block;
   margin: 10px;
   margin-right: 50px;
}

.user_info{

   padding: 10px 10px 0 10px;
   border: 1px solid grey;
   border-radius: 25px;
   width: 100%;
   display: flex;
   justify-content: space-between;
}

.user_name{
   display: flex;
   flex-flow: column wrap;

}
