.header{
   grid-area: h;
   background-color: #00B6F1;
   display: flex;
   justify-content: space-between;
 }
 .header img{
  padding-left: 20px;
  height: 60px;
  width: 80px;
 }
 .headerButton{
   display: flex;
   align-items: center;
 }
